<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
  <script src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/html5div.js" ></script>
  <script src="/js/html5shiv.js" ></script>
  <script src="/js/rollover.js"></script>
  <script src="/js/freeboard.js" ></script>
</head>
<body>
<div id="wrap">
  <!-- ###헤더### -->
  <header >
    <div id="header">
      <h1><span>롯데 콘서트홀</span></h1>
      <div id="mainLogo">
        <a href="../index.html" title="메인로고"><img src="/images/img_logo01.png" alt="롯데 메인 로고"/></a>
      </div>
      <div id="topH">
        <div class="topHBox1">
          <ul>
            <li>
              <a href="https://www.youtube.com/" class="youtube showBalloon rollover" title="브랜드스토리"><img src="/images/br_off.png" alt=""/></a>
            </li>
            <li>
              <a href="https://section.blog.naver.com/BlogHome.naver?directoryNo=0&currentPage=1&groupId=0" class="blog showBalloon rollover" title="페이스북"><img src="/images/fb_off.png" alt=""/></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" class="instar showBalloon rollover" title="유튜브"><img src="/images/ut_off.png" alt=""/></a>
            </li>
            <li>
              <a href="sub1_Login/sub1Login.html" class="brand showBalloon rollover" title="인스타그램"><img src="/images/in_off.png" alt=""/></a>
            </li>
          </ul>
        </div>
        <div class="topHBox3">
          <img src="/images/ico_search.png" alt="검색"/>
          <a href="#" title="검색">검색</a>
        </div>
        <div class="topHBox2">
          <ul>
            <li><a href="../sub1_Login/sub1Login.html" title="롯데월드타워">롯데월드타워</a></li>
            <li><a href="freeBoard.html" class="topHLine" title="롯데뮤지엄">롯데뮤지엄</a></li>
            <li><a href="../sub1_Login/sub1Login.html" class="topHLine" title="롯데문화제단">롯데문화제단</a></li>
            <li><a href="../sub2_QnA/qna.html" class="topHLine" title="ENG">ENG</a></li>
            <li><a href="../sub3_FreeBoard/freeBoard.html" class="topHLine" title="회원가입">회원가입</a></li>
            <li><a href="../sub1_Login/sub1Login.html" class="topHLine" title="로그인">로그인</a></li>
          </ul>
        </div>
      </div><!-- id="topH" -->
      <div id="botH">
        <ul>
          <li class="liStyle" title="공연안내/예매">
            <a href="freeBoard.html" title="공연안내/예매" tabindex="1">공연안내/예매</a>
            <div class="tiket width100 fl" >
              <ul class="mWidth">

                <li class="menuTit titBox fl" >
                  <h2>공연안내/예매</h2>
                </li>
                <li class="fl">
                  <dl>
                    <dt><a href="#" >공연 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 안내</a></dt>
                    <dd></dd>
                    <dt><a href="#">패키지 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 확인/취소</a></dt>
                    <dd></dd>
                    <dt><a href="#">공연 관람 예절</a></dt>
                    <dd></dd>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">공연장 소개</a></dt>
                    <dd><a href="#">음향</a></dd>
                    <dd><a href="#">객석</a></dd>
                    <dd><a href="#">무대시설</a></dd>
                    <dt><a href="#">BI 소개</a></dt>
                    <dt><a href="#">브랜드 스토리</a></dt>
                    <dt><a href="#">공연장 둘러보기</a></dt>
                    <dt><a href="#">국제 오르간 콩쿠르</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">시설 안내</a></dt>
                    <dd><a href="#">객석 안내</a></dd>
                    <dd><a href="#">편의시설 안내</a></dd>
                    <dd><a href="#">장애인 이용안내</a></dd>
                    <dd><a href="#">비상대피 안내</a></dd>
                    <dt><a href="#">오시는 길</a></dt>
                    <dd><a href="#">공연장 오시는길</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">공지사항</a></dt>
                    <dd><a href="#">공지</a></dd>
                    <dd><a href="#">이벤트</a></dd>
                    <dd><a href="#">앙코르 곡</a></dd>
                    <dd><a href="#">대관</a></dd>
                    <dt><a href="#">자주하는 질문</a></dt>
                    <dd><a href="#">Contact us</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">대관절차 안내</a></dt>
                    <dt><a href="#">대관 사용료</a></dt>
                    <dt><a href="#">대관 시설안내</a></dt>
                    <dt><a href="#">대관 규약</a></dt>
                    <dt><a href="#">BI사용 규정</a></dt>
                    <dt><a href="#">대관 공고</a></dt>
                    <dt><a href="#">대관 신청</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">예매확인/취소</a></dt>
                    <dt><a href="#">1:1문의 결과</a></dt>
                    <dt><a href="#">쿠폰/예매권</a></dt>
                    <dt><a href="#">나의 관심공연</a></dt>
                    <dt><a href="#">회원정보변경</a></dt>
                    <dt><a href="#">반야드 회원가입</a></dt>
                  </dl>
                </li>


              </ul>
            </div>
          </li>

          <li class="liStyle" title="롯데콘서트홀">
            <a href="../sub2_QnA/qna.html"title="롯데 콘서트홀" tabindex="2">롯데 콘서트홀</a>
            <div class="tiket width100  fl">
              <ul class="mWidth">
                <li class="menuTit titBox fl">
                  <h2>롯데 콘서트홀</h2>
                </li>
                <li class="fl">
                  <dl>
                    <dt><a href="#">공연 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 안내</a></dt>
                    <dd></dd>
                    <dt><a href="#">패키지 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 확인/취소</a></dt>
                    <dd></dd>
                    <dt><a href="#">공연 관람 예절</a></dt>
                    <dd></dd>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">공연장 소개</a></dt>
                    <dd><a href="#">음향</a></dd>
                    <dd><a href="#">객석</a></dd>
                    <dd><a href="#">무대시설</a></dd>
                    <dt><a href="#">BI 소개</a></dt>
                    <dt><a href="#">브랜드 스토리</a></dt>
                    <dt><a href="#">공연장 둘러보기</a></dt>
                    <dt><a href="#">국제 오르간 콩쿠르</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">시설 안내</a></dt>
                    <dd><a href="#">객석 안내</a></dd>
                    <dd><a href="#">편의시설 안내</a></dd>
                    <dd><a href="#">장애인 이용안내</a></dd>
                    <dd><a href="#">비상대피 안내</a></dd>
                    <dt><a href="#">오시는 길</a></dt>
                    <dd><a href="#">공연장 오시는길</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">공지사항</a></dt>
                    <dd><a href="#">공지</a></dd>
                    <dd><a href="#">이벤트</a></dd>
                    <dd><a href="#">앙코르 곡</a></dd>
                    <dd><a href="#">대관</a></dd>
                    <dt><a href="#">자주하는 질문</a></dt>
                    <dd><a href="#">Contact us</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">대관절차 안내</a></dt>
                    <dt><a href="#">대관 사용료</a></dt>
                    <dt><a href="#">대관 시설안내</a></dt>
                    <dt><a href="#">대관 규약</a></dt>
                    <dt><a href="#">BI사용 규정</a></dt>
                    <dt><a href="#">대관 공고</a></dt>
                    <dt><a href="#">대관 신청</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">예매확인/취소</a></dt>
                    <dt><a href="#">1:1문의 결과</a></dt>
                    <dt><a href="#">쿠폰/예매권</a></dt>
                    <dt><a href="#">나의 관심공연</a></dt>
                    <dt><a href="#">회원정보변경</a></dt>
                    <dt><a href="#">반야드 회원가입</a></dt>
                  </dl>
                </li>
              </ul>
            </div>
          </li>

          <li class="liStyle">
            <a href="../sub1_Login/sub1Login.html"title="이용안내" tabindex="3">이용안내</a>
            <div class="tiket width100  fl">
              <ul class="mWidth">
                <li class="menuTit titBox fl">
                  <h2>이용안내</h2>
                </li>
                <li class="fl">
                  <dl>
                    <dt><a href="#">공연 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 안내</a></dt>
                    <dd></dd>
                    <dt><a href="#">패키지 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 확인/취소</a></dt>
                    <dd></dd>
                    <dt><a href="#">공연 관람 예절</a></dt>
                    <dd></dd>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">공연장 소개</a></dt>
                    <dd><a href="#">음향</a></dd>
                    <dd><a href="#">객석</a></dd>
                    <dd><a href="#">무대시설</a></dd>
                    <dt><a href="#">BI 소개</a></dt>
                    <dt><a href="#">브랜드 스토리</a></dt>
                    <dt><a href="#">공연장 둘러보기</a></dt>
                    <dt><a href="#">국제 오르간 콩쿠르</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">시설 안내</a></dt>
                    <dd><a href="#">객석 안내</a></dd>
                    <dd><a href="#">편의시설 안내</a></dd>
                    <dd><a href="#">장애인 이용안내</a></dd>
                    <dd><a href="#">비상대피 안내</a></dd>
                    <dt><a href="#">오시는 길</a></dt>
                    <dd><a href="#">공연장 오시는길</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">공지사항</a></dt>
                    <dd><a href="#">공지</a></dd>
                    <dd><a href="#">이벤트</a></dd>
                    <dd><a href="#">앙코르 곡</a></dd>
                    <dd><a href="#">대관</a></dd>
                    <dt><a href="#">자주하는 질문</a></dt>
                    <dd><a href="#">Contact us</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">대관절차 안내</a></dt>
                    <dt><a href="#">대관 사용료</a></dt>
                    <dt><a href="#">대관 시설안내</a></dt>
                    <dt><a href="#">대관 규약</a></dt>
                    <dt><a href="#">BI사용 규정</a></dt>
                    <dt><a href="#">대관 공고</a></dt>
                    <dt><a href="#">대관 신청</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <dl>
                    <dt><a href="#">예매확인/취소</a></dt>
                    <dt><a href="#">1:1문의 결과</a></dt>
                    <dt><a href="#">쿠폰/예매권</a></dt>
                    <dt><a href="#">나의 관심공연</a></dt>
                    <dt><a href="#">회원정보변경</a></dt>
                    <dt><a href="#">반야드 회원가입</a></dt>
                  </dl>
                </li>
              </ul>
            </div>

          </li>
          <li class="liStyle">
            <a href="freeBoard.html"title="커뮤니티" tabindex="4">커뮤니티</a>
            <div class="tiket width100  fl">
              <ul class="mWidth">
                <li class="menuTit titBox fl">
                  <h2>커뮤니티</h2>
                </li>
                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">공연 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 안내</a></dt>
                    <dd></dd>
                    <dt><a href="#">패키지 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 확인/취소</a></dt>
                    <dd></dd>
                    <dt><a href="#">공연 관람 예절</a></dt>
                    <dd></dd>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">공연장 소개</a></dt>
                    <dd><a href="#">음향</a></dd>
                    <dd><a href="#">객석</a></dd>
                    <dd><a href="#">무대시설</a></dd>
                    <dt><a href="#">BI 소개</a></dt>
                    <dt><a href="#">브랜드 스토리</a></dt>
                    <dt><a href="#">공연장 둘러보기</a></dt>
                    <dt><a href="#">국제 오르간 콩쿠르</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">시설 안내</a></dt>
                    <dd><a href="#">객석 안내</a></dd>
                    <dd><a href="#">편의시설 안내</a></dd>
                    <dd><a href="#">장애인 이용안내</a></dd>
                    <dd><a href="#">비상대피 안내</a></dd>
                    <dt><a href="#">오시는 길</a></dt>
                    <dd><a href="#">공연장 오시는길</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">공지사항</a></dt>
                    <dd><a href="#">공지</a></dd>
                    <dd><a href="#">이벤트</a></dd>
                    <dd><a href="#">앙코르 곡</a></dd>
                    <dd><a href="#">대관</a></dd>
                    <dt><a href="#">자주하는 질문</a></dt>
                    <dd><a href="#">Contact us</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">대관절차 안내</a></dt>
                    <dt><a href="#">대관 사용료</a></dt>
                    <dt><a href="#">대관 시설안내</a></dt>
                    <dt><a href="#">대관 규약</a></dt>
                    <dt><a href="#">BI사용 규정</a></dt>
                    <dt><a href="#">대관 공고</a></dt>
                    <dt><a href="#">대관 신청</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">예매확인/취소</a></dt>
                    <dt><a href="#">1:1문의 결과</a></dt>
                    <dt><a href="#">쿠폰/예매권</a></dt>
                    <dt><a href="#">나의 관심공연</a></dt>
                    <dt><a href="#">회원정보변경</a></dt>
                    <dt><a href="#">반야드 회원가입</a></dt>
                  </dl>
                </li>
              </ul>
            </div>

          </li>

          </li>
          <li class="liStyle">
            <a href="../sub2_QnA/qna.html"title="대관안내/신청" tabindex="5">대관안내/신청</a>
            <div class="tiket width100  fl">
              <ul class="mWidth">
                <li class="menuTit titBox fl">
                  <h2>대관안내/신청</h2>
                </li>
                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">공연 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 안내</a></dt>
                    <dd></dd>
                    <dt><a href="#">패키지 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 확인/취소</a></dt>
                    <dd></dd>
                    <dt><a href="#">공연 관람 예절</a></dt>
                    <dd></dd>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">공연장 소개</a></dt>
                    <dd><a href="#">음향</a></dd>
                    <dd><a href="#">객석</a></dd>
                    <dd><a href="#">무대시설</a></dd>
                    <dt><a href="#">BI 소개</a></dt>
                    <dt><a href="#">브랜드 스토리</a></dt>
                    <dt><a href="#">공연장 둘러보기</a></dt>
                    <dt><a href="#">국제 오르간 콩쿠르</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">시설 안내</a></dt>
                    <dd><a href="#">객석 안내</a></dd>
                    <dd><a href="#">편의시설 안내</a></dd>
                    <dd><a href="#">장애인 이용안내</a></dd>
                    <dd><a href="#">비상대피 안내</a></dd>
                    <dt><a href="#">오시는 길</a></dt>
                    <dd><a href="#">공연장 오시는길</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">공지사항</a></dt>
                    <dd><a href="#">공지</a></dd>
                    <dd><a href="#">이벤트</a></dd>
                    <dd><a href="#">앙코르 곡</a></dd>
                    <dd><a href="#">대관</a></dd>
                    <dt><a href="#">자주하는 질문</a></dt>
                    <dd><a href="#">Contact us</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">대관절차 안내</a></dt>
                    <dt><a href="#">대관 사용료</a></dt>
                    <dt><a href="#">대관 시설안내</a></dt>
                    <dt><a href="#">대관 규약</a></dt>
                    <dt><a href="#">BI사용 규정</a></dt>
                    <dt><a href="#">대관 공고</a></dt>
                    <dt><a href="#">대관 신청</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">예매확인/취소</a></dt>
                    <dt><a href="#">1:1문의 결과</a></dt>
                    <dt><a href="#">쿠폰/예매권</a></dt>
                    <dt><a href="#">나의 관심공연</a></dt>
                    <dt><a href="#">회원정보변경</a></dt>
                    <dt><a href="#">반야드 회원가입</a></dt>
                  </dl>
                </li>
              </ul>
            </div>

          </li>
          </li>



          <li class="liStyle">
            <a href="../sub1_Login/sub1Login.html"title="마이페이지" tabindex="6">마이페이지</a>
            <div class="tiket width100  fl">
              <ul class="mWidth">
                <li class="menuTit titBox fl">
                  <h2>마이페이지</h2>
                </li>
                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">공연 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 안내</a></dt>
                    <dd></dd>
                    <dt><a href="#">패키지 예매</a></dt>
                    <dd></dd>
                    <dt><a href="#">예매 확인/취소</a></dt>
                    <dd></dd>
                    <dt><a href="#">공연 관람 예절</a></dt>
                    <dd></dd>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">공연장 소개</a></dt>
                    <dd><a href="#">음향</a></dd>
                    <dd><a href="#">객석</a></dd>
                    <dd><a href="#">무대시설</a></dd>
                    <dt><a href="#">BI 소개</a></dt>
                    <dt><a href="#">브랜드 스토리</a></dt>
                    <dt><a href="#">공연장 둘러보기</a></dt>
                    <dt><a href="#">국제 오르간 콩쿠르</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">시설 안내</a></dt>
                    <dd><a href="#">객석 안내</a></dd>
                    <dd><a href="#">편의시설 안내</a></dd>
                    <dd><a href="#">장애인 이용안내</a></dd>
                    <dd><a href="#">비상대피 안내</a></dd>
                    <dt><a href="#">오시는 길</a></dt>
                    <dd><a href="#">공연장 오시는길</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">공지사항</a></dt>
                    <dd><a href="#">공지</a></dd>
                    <dd><a href="#">이벤트</a></dd>
                    <dd><a href="#">앙코르 곡</a></dd>
                    <dd><a href="#">대관</a></dd>
                    <dt><a href="#">자주하는 질문</a></dt>
                    <dd><a href="#">Contact us</a></dd>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">대관절차 안내</a></dt>
                    <dt><a href="#">대관 사용료</a></dt>
                    <dt><a href="#">대관 시설안내</a></dt>
                    <dt><a href="#">대관 규약</a></dt>
                    <dt><a href="#">BI사용 규정</a></dt>
                    <dt><a href="#">대관 공고</a></dt>
                    <dt><a href="#">대관 신청</a></dt>
                  </dl>
                </li>

                <li class="fl">
                  <h3><a href="#"></a></h3>
                  <dl>
                    <dt><a href="#">예매확인/취소</a></dt>
                    <dt><a href="#">1:1문의 결과</a></dt>
                    <dt><a href="#">쿠폰/예매권</a></dt>
                    <dt><a href="#">나의 관심공연</a></dt>
                    <dt><a href="#">회원정보변경</a></dt>
                    <dt><a href="#">반야드 회원가입</a></dt>
                  </dl>
                </li>
              </ul>
            </div>

          </li>
          </li>
        </ul>
      </div><!-- id="botH" -->
    </div>
  </header>
  <!-- ###헤더끝###	-->

  <!-- ###색션### -->
  <section>
    <section>
      <div id="topS" >
        <div class="topLogin">
          <div class="topLoginH2">
            <figcaption>자유 게시판</figcaption>
          </div>
          <div class="botLoginFont">
            <div class="fontLeft">
              <a href="#">HOME</a>
            </div>
            <div class="loginFontImg">
              <img src="/images/btn_header_l_right.gif" alt="꺽세 이미지"/>
            </div>
            <div class="fontRight">
              <a href="#">커뮤니티</a>
            </div>
            <div class="loginFontImg">
              <img src="/images/btn_header_l_right.gif" alt="꺽세 이미지"/>
            </div>
            <div class="fontRight2">
              <a href="#">자유 게시판</a>
            </div>
          </div>
        </div>
      </div>
      <div id="midS">
        <div class="midSBorder">
          <ul>
            <li><a href="#" class="misSBox1"><p>전체</p></a></li>
            <li><a href="#" class="misSBox2"><p>공지</p></a></li>
            <li><a href="#" class="misSBox3"><p>이벤트</p></a></li>
            <li><a href="#" class="misSBox4"><p>앙코르곡</p></a></li>
            <li><a href="#" class="misSBox5"><p>대관공고</p></a></li>
          </ul>
        </div>

      </div>
      <div id="botS">
        <div id="freeBoard">
          <div class="boardHeader clearfix">
            <div class="headerBox01"><p>번호</p></div>
            <div class="headerBox02"><p>구분</p></div>
            <div class="headerBox03"><p>제목</p></div>
            <div class="headerBox04"><p>작성자</p></div>
            <div class="headerBox05"><p>게시일</p></div>
          </div>
          <div class="boardContent borderContentTop clearfix contentColor">
            <div class="contentBox01"><p>330</p></div>
            <div class="contentBox05"><p>공지</p></div>
            <div class="contentBox02"><p><a href="#">[공지] 과제 제출 하루 전<span class="colorOrange">[1]</span></a></p></div>
            <div class="contentBox03"><p><a href="#"><span class="colorOrange">[오윤석]</span></a></p></div>
            <div class="contentBox04"><p>2023.05.30</p></div>
          </div>
          <div class="boardContent clearfix contentColor">
            <div class="contentBox01"><p>329</p></div>
            <div class="contentBox05"><p>공지</p></div>
            <div class="contentBox02"><p><a href="#">[공지] 좌제 제출 이틀 전<span class="colorOrange">[2]</span></a></p></div>
            <div class="contentBox03"><p><a href="#"><span class="colorOrange">[오윤석]</span></a></p></div>
            <div class="contentBox04"><p>2023.05.29</p></div>
          </div>
          <div class="boardContent clearfix contentColor">
            <div class="contentBox01"><p>328</p></div>
            <div class="contentBox05"><p>공지</p></div>
            <div class="contentBox02"><p><a href="#">[공지] 좌제 제출 삼일 전<span class="colorOrange">[3]</span></a></p></div>
            <div class="contentBox03"><p><a href="#"><span class="colorOrange">[오윤석]</span></a></p></div>
            <div class="contentBox04"><p>2023.05.28</p></div>
          </div>
          <div class="boardContent clearfix">
            <div class="contentBox01"><p>327</p></div>
            <div class="contentBox05"><p>자유</p></div>
            <div class="contentBox02"><p><a href="#">[자유] 메인 페이지 만든분?<span class="colorOrange">[5]</span></a></p></div>
            <div class="contentBox03"><p><a href="#"><span class="colorOrange">[김경민]</span></a></p></div>
            <div class="contentBox04"><p>2023.05.18</p></div>
          </div>
          <div class="boardContent clearfix">
            <div class="contentBox01"><p>326</p></div>
            <div class="contentBox05"><p>자유</p></div>
            <div class="contentBox02"><p><a href="#">[자유] 할거 개 많네<span class="colorOrange">[7]</span></a></p></div>
            <div class="contentBox03"><p><a href="#"><span class="colorOrange">[진정호]</span></a></p></div>
            <div class="contentBox04"><p>2023.04.13</p></div>
          </div>
          <div class="boardContent clearfix">
            <div class="contentBox01"><p>325<p></div>
            <div class="contentBox05"><p>자유</p></div>
            <div class="contentBox02"><p><a href="#">[자유] ...후<span class="colorOrange">[3]</span></a></p></div>
            <div class="contentBox03"><p><a href="#"><span class="colorOrange">[홍사라]</span></a></p></div>
            <div class="contentBox04"><p>2023.02.05</p></div>
          </div>
          <div class="boardContent clearfix">
            <div class="contentBox01"><p>324</p></div>
            <div class="contentBox05"><p>자유</p></div>
            <div class="contentBox02"><p><a href="#">[자유] 휴 과제 끝<span class="colorOrange">[4]</span></a></p></div>
            <div class="contentBox03"><p><a href="#"><span class="colorOrange">[이경선]</span></a></p></div>
            <div class="contentBox04"><p>2023.02.05</p></div>
          </div>
          <div class="boardContent clearfix">
            <div class="contentBox01"><p>323</p></div>
            <div class="contentBox05"><p>자유</p></div>
            <div class="contentBox02"><p><a href="#">[자유] 아.. 피곤해요..<span class="colorOrange">[6]</span></a></p></div>
            <div class="contentBox03"><p><a href="#"><span class="colorOrange">[염무원]</span></a></p></div>
            <div class="contentBox04"><p>2023.01.10</p></div>
          </div>
          <div class="boardContent clearfix">
            <div class="contentBox01"><p>322</p></div>
            <div class="contentBox05"><p>공지</p></div>
            <div class="contentBox02"><p><a href="#">[공지] 거의 다 했습니다!<span class="colorOrange">[4]</span></a></p></div>
            <div class="contentBox03"><p><a href="#"><span class="colorOrange">[배유미]</span></a></p></div>
            <div class="contentBox04"><p>2023.01.01</p></div>
          </div>
          <div class="boardContent clearfix">
            <div class="contentBox01"><p>321</p></div>
            <div class="contentBox05"><p>공지</p></div>
            <div class="contentBox02"><p><a href="#">[공지] 이게 왜 안되지?<span class="colorOrange">[3]</span></a></p></div>
            <div class="contentBox03"><p><a href="#"><span class="colorOrange">[김승균]</span></a></p></div>
            <div class="contentBox04"><p>2022.11.21</p></div>
          </div>

          <div class="boardFooter">
            <p>
              <input type="button" name="writeBtn" id="writeBtn" 	value="글쓰기"/>
            </p>
          </div>
          <div class="boardPage clearfix">
            <ul>
              <li class="pageImg1"><a href="#"><img src="/images/btn_header_l_left.gif" alt="double left arrow"/></a></li>
              <!-- <li class="pageImg2"><a href="#"><img src="/images/next02.gif" alt="left arrow"/></a></li> -->
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#">7</a></li>
              <li><a href="#">8</a></li>
              <li><a href="#">9</a></li>
              <li class="bdr"><a href="#">10</a></li>
              <!-- <li class="pageImg3"><a href="#"><img src="/images/next03.gif" alt="right arrow"/></a></li> -->
              <li class="pageImg4"><a href="#"><img src="/images/btn_header_l_right.gif" alt="double right arrow"/></a></li>
            </ul>
          </div>
          <div class="bottomSearch clearfix">
            <ul>
              <li>
                <select name="boardSearchOption" id="boardSearchOption">
                  <option value="제목">제목
                  <option value="작성자">작성자
                </select>
              </li>
              <li><input type="text" name="boardSearchText" id="boardSearchText"/></li>
              <li><input type="button" name="boardSearchbtn" id="boardSearchbtn" value="SEARCH"/></li>
            </ul>
          </div>
        </div><!-- freeBoard end -->
        <!-- <div class="botSNum"></div> -->
        <!-- <div class="botSSearch"></div> -->
      </div>
    </section>
    <!-- ###색션끝### -->

    <!-- ###푸터### -->
    <footer>
      <div id="footer">
        <div id="topF">
          <div class="topFImg"><img src="/images/txt_footer_logo.png" alt=""/></div>
          <div class="topFLeftText">
            <ul class="address">
              <li>서울특별시 송파구 올림픽대로 300 롯데월드몰 8층 롯데문화제단</li>
              <li>대표 김선광 사업자등록번호 401-82-10731 대표전화 1544-7744</li>
            </ul>
            <ul class="lotteData">
              <li>&copy;2016 LOTTE CONCERT HALL ALL RIGHTS RESERVED.</li>
            </ul>
          </div>
          <div class="topFRightText">
            <ul>
              <li><a href="#" title="문화체육관광부" >문화체육관광부</a></li>
              <li><a href="#" title="오시는 길" class="liList">오시는 길</a></li>
              <li><a href="#" title="영상정보처리기기 운영및 관리 방침" class="liList">영상정보처리기기 운영&middot;관리 방침</a></li>
              <li><a href="#" title="개인정보처리방침" class="liList" id="pointText">개인정보처리방침</a></li>
              <li><a href="#" title="이용약관" class="liList">이용약관</a></li>
            </ul>
          </div>
          <div class="topFRightImg">
            <a href="#" title="위로가기"><img src="/images/btn_top.png" alt="위로가기"/></a>
          </div>
          <div class="topFRightClick">
          </div>
        </div>
        <div id="botF"></div>
      </div>
    </footer>
    <!-- ###푸터끝### -->
</div>
</div>
</body>
</html>